* {
    margin: 0;
}

html,
body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px;
}

.page-wrap:after {
    content: "";
    display: block;
    background-color: #eeeeee;
}

.site-footer,
.page-wrap:after {
    /* .push must be the same height as footer */
    height: 142px;
}

.site-footer {
    background-color: #313538;
}

.app-header {
    padding-left: 20px;
    .app-title {
        margin: 5px;
    }
    .logo {
        width: 20px;
        height: 20px;
        margin: 15px 0px;
    }
    .logo-margin {
        margin-top: 11px;
    }
    .small-logo {
        width: 15px;
        height: 15px;
        margin: 15px 0px;
    }
    .button {
        background-color: #626065;
        color: white;
        text-transform: capitalize;
    }
    .user {
        padding: 0px 20px;
    }
}

.view {
    background-color: #eeeeee;
}

.div-footer {
    color: white;
    .footer-text {
        font-weight: lighter;
        text-align: center;
    }
}

.div-404 {
    background-color: #5f9ebf;
    padding: 100px 5px;
    .card {
        margin: 50px 25px;
        background-color: white;
    }
    .text{
        text-align: center;
    }
    .link {
        color: #2196f3;
    }
}

.home {
    background-color: #5f9ebf;
    .home-div {
        padding: 40px;
    }
    .big-tag {
        margin-bottom: 0px;
        padding-bottom: 0px;
        text-align: center;
    }
    .little-tag {
        font-weight: lighter;
        margin: 2px;
        text-align: center;
    }
    .home-img {
        width: 500px;
        margin: 50px;
    }
    .button {
        text-transform: capitalize;
        padding: 3px 20px;
        background-color: #5d6467;
        color: white;
    }
}

.login {
    background-color: #5f9ebf;
    padding: 200px 5px;
    .card {
        background-color: white;
        .header {
            background-color: #626065;
            .header-text {
                margin-top: 30px;
                color: white;
            }
        }
        .button {
            background-color: #626065;
            text-transform: capitalize;
            padding: 5px 10px;
        }
        .link {
            color: #2196f3;
        }
        .icon {
            color: #626065;
        }
    }
}

.signup {
    padding: 70px 5px;
    background-color: #5f9ebf;
    .card {
        background-color: white;
        .header {
            background-color: #626065;
            .header-text {
                margin-top: 30px;
                color: white;
            }
        }
        .button {
            background-color: #626065;
            text-transform: capitalize;
            padding: 5px 10px;
        }
        .link {
            color: #2196f3;
        }
        .icon {
            color: #626065;
        }
    }
}

.about {
    .image {
        max-width: 100%;
        height: auto;
    }
    .logo {
        width: 60px;
        height: 60px;
    }
    .logo-small {
        width: 40px;
        height: 40px;
    }
    .headline {
        text-align: center;
    }
    .text-div {
        background-color: #5f9ebf;
    }
    .img-div {
        background-color: #4b8fb4;
    }
    .light-text {
        font-weight: lighter;
    }
    .desc {
        font-size: 20px;
    }
    .squeeze {
        margin: 20px 60px;
    }
    .bold {
        font-weight: bold;
        margin-left: 10px;
    }
}

;
.dashboard {
    height: 850px;
    .list-text-1 {
        font-weight: lighter;
    }
    .white-text {
        color: white;
        font-weight: bold;
    }
    .fit-margin {
        margin: 0px;
        padding: 6px 10px;
    }
    .user-details {
        background-color: #626065;
        color: white;
    }
    .user-text {
        margin: 5px 5px 5px 20px;
    }
    .doc-text {
        margin: 0px;
    }
    .white-bg {
        background-color: white;
    }
}

.update-user {
    width: 350px;
    .dialog-body {
        .button {
            background-color: #626065;
            text-transform: capitalize;
            padding: 5px 10px;
        }
        .link {
            color: #2196f3;
        }
        .light-text {
            font-weight: lighter;
            margin-top: 7px;
        }
    }
    .types {
        background-color: white;
        .list-text-1 {
            font-weight: lighter;
        }
        .fit-margin {
            margin: 0px;
            padding: 6px 10px;
        }
        .button {
            background-color: #626065;
            text-transform: capitalize;
            padding: 5px 10px;
        }
    }
}

.fit {
    margin: 0px;
    padding: 0px;
}

.md-fab.md-mini.button-grey {
    background-color: #626065;
    color: white;
    text-transform: capitalize;
}

.ripple-container {
    position: relative;
}
