div.md-padding.div-footer(flex layout='row' layout-align='center center')
  p.md-headline.footer-text(hide-md hide-sm) ©2015 DocManApp. A project by Hannah Koske from Andela. #TIA
  p.md-subhead.footer-text(hide-gt-md) ©2015 DocManApp. A project by Hannah Koske from Andela. #TIA