div.md-whiteframe-6dp.app-header(flex layout='row')
  div(flex layout='row')
    img.logo(src='images/logo.png')
    p.md-display-1.app-title DocMan
  div(flex layout='row' layout-align='end center')
    a(ng-repeat='menuItem in menu' ui-sref='{{menuItem.state}}')
        md-button {{menuItem.name}}
