.md-padding.div-404(layout='column' layout-align='center center')
	md-card.md-padding.card(layout='column' layout-gt-md='row' layout-align='center center' flex)
		p.md-display-4 404
		.md-padding.text(layout='column' layout-align-gt-md='center start' layout-align='center center')
			p.md-headline SORRY
			p.md-title.light-text This page you are looking for was not found 