.md-padding.div-404(layout='column' layout-align='center center')
  md-card.card(layout='row' layout-align='center center' flex)
    p.md-display-4.text-404 4
    img.img-404(src='images/compass.png')
    p.md-display-4.text-404 4
  p.md-display-4.exp-404 This page got lost.