div(layout='row' flex)
div.dashboard(layout="column" ng-cloak)
  section(layout='row' flex)
    md-sidenav.md-sidenav-left.md-whiteframe-z2(md-is-locked-open="$mdMedia('gt-md')" md-component-id="left")
      md-toolbar.md-theme-indigo
        p.md-headline.md-padding Users
      md-content
        .md-padding(layout='column')
          p.md-subhead Search
          md-input-container(flex)
            input(type='text' ng-model='search')
        md-list.fit(flex)
          md-list-item.fit(ng-repeat="user in users | filter:search" flex)
            md-card.ripple-container.fit-margin(layout="row" flex md-ink-ripple ng-click='setUser(user)')
              div(layout='column' flex)
                h2.list-text-1 {{user.name.first}} {{user.name.last}}
                p.md-subhead {{user.email}}
              md-button.md-fab.md-mini.md-primary.white-text
                p.md-subhead {{user.docs}}
                md-tooltip Documents
    md-content(flex layout='column')
      .fit(flex layout='row' layout-sm='column')
        .fit(layout='column' flex='33' flex-md='50' flex-sm='100')
          .fit(flex='initial' layout='column')
            .md-padding.user-details(layout='row')
              .fit(flex)
                p.md-headline User Details
            .md-padding(ng-if='!selectedUser' flex)
              p.md-display-1.list-text-1.md-padding Select a user
              .fit(layout = 'row' layout-align='center center' flex)
                md-button.fit(flex hide-gt-md ng-click='toggle()')
                  md-icon.fa.fa-lg.fa-mouse-pointer
                  | Pick a User
            .md-padding(layout='column' ng-if='selectedUser' flex)
              h2.list-text-1 Name
              p.md-subhead.user-text &nbsp{{selectedUser.name.first}} {{selectedUser.name.last}}
              h2.list-text-1 Email
              p.md-subhead.user-text &nbsp{{selectedUser.email}}
              h2.list-text-1 Username
              p.md-subhead.user-text &nbsp{{selectedUser.username}}
              h2.list-text-1 Role
              p.md-subhead.user-text &nbsp{{selectedUser.role.title}}
              h2.list-text-1 Documents
              p.md-subhead.user-text &nbsp{{selectedUser.docs}}
              .fit(layout='row' layout-align='end start')
                md-button.md-fab.md-primary.md-mini(hide-gt-md ng-click='toggle()')
                  md-tooltip Pick another user 
                  md-icon.fa.fa-lg.fa-mouse-pointer
                .fit(flex ng-if='selectedUser && currentUser.role.title === \'Administrator\' && currentUser._id !== selectedUser._id' layout='row' layout-align='end start')
                  md-button.md-fab.md-primary.md-mini(aria-label="edit user" ng-click='editUser($event)')
                    md-tooltip Update User
                    i.fa.fa-lg.fa-wrench
                  md-button.md-fab.md-primary.md-mini(aria-label="delete user" ng-click='deleteUser($event)')
                    md-tooltip Delete User
                    i.fa.fa-lg.fa-trash
          .fit(flex='initial' layout='column' ng-if='selectedUser')
            .md-padding.user-details
              p.md-headline Documents
            .md-padding(ng-if='selectedDocs.length === 0' flex)
              p.md-display-1.list-text-1.md-padding No Documents
            md-list.fit(flex ng-if='selectedDocs.length > 0')
              md-list-item.fit(ng-repeat="doc in selectedDocs" flex style='padding: 0')
                md-card.ripple-container.fit-margin(layout="row" flex md-ink-ripple ng-click='setDoc(doc)')
                  div(layout='column' flex)
                    h2.list-text-1 {{doc.title}}
                    p.md-subhead Created on:&nbsp{{doc.created_at_st}}
        md-card.fit(flex layout='column' flex-md='50'  flex-sm)
          .md-padding.user-details
              p.md-headline Document Preview
          .md-padding(ng-if='!doc && !docErr')
              p.md-display-1.list-text-1.md-padding Select a Document
          md-card.md-padding.doc-text.white-bg(layout='column' flex ng-if='!docErr && doc'  flex-sm='initial')
            md-card-content.md-padding(layout='column' flex)
              h2.list-text-1 Title:
              p.md-subhead.user-text {{doc.title}}
              h2.list-text-1 Type:
              p.md-subhead.user-text {{doc.type.title}}
              h2.list-text-1 Access:
              p.md-subhead.user-text {{doc.access}}
              h2.list-text-1 Content:
              p.md-subhead.user-text {{doc.content}}
              h2.list-text-1 Created at:
              p.md-subhead.user-text {{doc.created_at_st}}
              h2.list-text-1 Last updated at:
              p.md-subhead.user-text {{doc.updated_at_st}}
            md-card-actions(layout="row" layout-align="end center" ng-if='currentUser.role.title !== \'Viewer\' || (currentUser.role.title === \'User\' && currentUser._id !== doc.owner._id)')
              md-button.md-fab.md-primary.md-mini(aria-label="edit document" ng-click='editDoc($event)')
                md-tooltip Update Document
                i.fa.fa-lg.fa-wrench
              md-button.md-fab.md-primary.md-mini(aria-label="delete document" ng-click='deleteDoc($event)')
                md-tooltip Delete Document
                i.fa.fa-lg.fa-trash
          .md-padding(layout='column' flex ng-if='docErr' style='background-color: white')
            p.md-display-1.list-text-1.md-padding {{docErr}}
