md-dialog.update-user(aria-label='Update Document')
    md-toolbar
      .md-toolbar-tools
        h2(flex) Document
        md-button(ng-click='cancel()')
          md-tooltip Close
          i.fa.fa-lg.fa-times-circle
    md-dialog-content.dialog-body.md-padding.md-margin(layout='column')
      md-select(ng-model="doc.type._id" ng-required='true' placeholder='Type' flex)
        md-option(ng-repeat="type in types" value="{{type._id}}")
          | {{type.title}}
      md-input-container(flex)
        input(type='text' ng-required='true' ng-model='doc.title' placeholder='Title')
      p.md-headline.light-text Content:
      md-input-container(flex md-block)
        textarea(type='text' ng-required='true' ng-model='doc.content'  columns='1' rows='5')
      div(layout='column')
        p.md-headline.light-text Roles permitted:
        label(ng-repeat="role in roles")
          input(type='checkbox' value="{{role._id}}" ng-checked='role.checked' ng-model='role.checked')
          | &nbsp; {{role.title}}
      div(layout='row' layout-align='center center')
        p.md-padding.link {{message}}
      md-button.md-raised.md-primary.button(ng-click='update()')
        p.md-title Update
