.fit.home(layout='column' layout-align='center center')
  .home-div(layout-align='center center' layout='column')
    p.md-display-4.big-tag Write. Save. Access.
    p.md-display-2.little-tag For everything you’ll do, DocMan is the workspace to get it done!
    img.home-img(src='images/img.png')
    md-button.button(ui-sref='signup')
      p.md-title Sign up today
