.md-padding.home(layout='column' layout-align='center center')
  .md-padding(layout-align='center center' layout='column')
    p.md-display-4.big-tag Write. Save. Access.
    p.md-headline.little-tag For everything you’ll do, DocMan is the workspace to get it done!
    img.home-img(src='images/tablet.png')
