.md-padding.login(layout='row' layout-align='center center')
  md-card.card(flex='33')
    md-card-header.md-padding.header
      md-card-header-text.header-text.md-padding
        span.md-display-2 Login
    md-card-content.md-padding(layout='column')
      .fit(layout='row')
        i.fa.fa-user
        md-input-container(flex)
          input(type='text' placeholder='Username')
      .fit(layout='row')
        i.fa.fa-key
        md-input-container(flex)
          input(type='password' placeholder='Password')
      md-button.md-raised.md-primary.button Login
    md-card-actions.md-padding(layout='row' layout-align='center center')
      p Don't have an account?
      a.link(ui-sref='signup') Sign up here.