.md-padding.signup(layout='row' layout-align='center center')
  md-card.card(flex='33')
    md-card-header.md-padding.header
      md-card-header-text.header-text.md-padding
        span.md-display-2 Sign Up
    md-card-content.md-padding(layout='column')
      .md-padding(layout='row')
        i.fa.fa-user
        md-input-container(flex)
          input(type='text' placeholder='First Name')
      .md-padding(layout='row')
        i.fa.fa-user
        md-input-container(flex)
          input(type='text' placeholder='Last Name')
      .md-padding(layout='row')
        i.fa.fa-at
        md-input-container(flex)
          input(type='email' placeholder='Email')
      .md-padding(layout='row')
        i.fa.fa-user-secret
        md-input-container(flex)
          input(type='text' placeholder='Username')
      .md-padding(layout='row')
        i.fa.fa-key
        md-input-container(flex)
          input(type='password' placeholder='Password')
      .md-padding(layout='row')
        i.fa.fa-key
        md-input-container(flex)
          input(type='password' placeholder='Confirm Password')
      md-button.md-raised.md-primary Sign Up